body, p, img, a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
    color: #767676;
}

button {
    cursor: pointer;
}

:root {
    --blue: #2f80ed;
}

.clear-fix::after {
    content: '';
    display: block;
    clear: both;
}

.hidden {
    display: none;
    transition: all 1s;
}

.dark {
    background-color: rgba(0, 0, 0, 0.4);
}

.login-guide {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 240px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.logo {
    margin: 0 auto;
    width: 138px;
    height: 40px;
}

.title {
    font-size: 16px;
    text-align: center;
    margin: 28px 0 32px;
}

.login {
    width: 100%;
    background-color: var(--blue);
    border: none;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    padding: 17px 0 15px;
    border-radius: 5px;
    color: #ffffff;
}

.login-form {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 520px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}

.form-title {
    position: relative;
    box-sizing: border-box;
    line-height: 20px;
    text-align: center;
    position: relative;
    padding: 20px 24px 17px;
    border-bottom: 1px solid #c4c4c4;
}

.form-title span {
    width: 100%;
    margin: 0 auto;
}

.form-title img {
    position: absolute;
    right: 24px;
    width: 16px;
    cursor: pointer;
}

.form-content {
    padding: 25px 23px 24px;
}

.content-title {
    margin-bottom: 19px;
}

.form-content input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 20px;
    padding: 14px 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
}

.warning {
    font-size: 14px;
    color: #f4492e;
    padding: 1px 4px 10px;
}

.login-condition {
    padding: 0 4px;
    line-height: 20px;
    margin: 16px 0 20px;
}

.login-condition img {
    vertical-align: top;
    cursor: pointer;
}

.content-login {
    background-color: var(--blue);
    color: #ffffff;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding: 14px 0;
    margin-bottom: 20px;
    border: none;
}

.functions {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.functions a {
    color: #767676;
}

.find {
    margin-left: -6px;
}

.signup::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 18px;
    margin: 0 12px;
    background-color: #767676;
    vertical-align: -3px;
}

.or {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.or::before,
.or::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 207px;
    background-color: #c4c4c4;
    vertical-align: middle;
}

.or::before {
    margin-right: 13px;
}

.or::after {
    margin-left: 13px;
}

.social a {
    box-sizing: border-box;
    position: relative;
    margin: 10px 0;
    padding: 15px 0;
    border-radius: 5px;
    display: block;
    line-height: 20px;
    color: #767676;
    text-align: center;
}

.social img {
    position: absolute;
    left: 12px;
    top: 11px;
}

.google {
    border: 1px solid #767676;
}

.facebook {
    border: 1px solid #2d9cdb;
}

.naver {
    border: 1px solid #00bf18;
}

.kakao {
    border: 1px solid #f2c94c;
}